In [23]:
import numpy as np
import pandas as pd
from scipy import stats

In [30]:
def weighted_median(data, weights):
    """
        Args:
          data (list or numpy.array): data
          weights (list or numpy.array): weights
        """
    data, weights = np.array(data).squeeze(), np.array(weights).squeeze()
    s_data, s_weights = map(np.array, zip(*sorted(zip(data, weights))))
    midpoint = 0.5 * sum(s_weights)
    if any(weights > midpoint):
            w_median = (data[weights == np.max(weights)])[0]
    else:
            cs_weights = np.cumsum(s_weights)
            idx = np.where(cs_weights <= midpoint)[0][-1]
    if cs_weights[idx] == midpoint:
                w_median = np.mean(s_data[idx:idx+2])
    else:
                w_median = s_data[idx+1]
    return w_median

In [7]:
df = pd.read_csv('./data/state.csv')

In [10]:
df.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [19]:
# Calculate the mean
df['Murder.Rate'].mean()

4.066

In [18]:
# Calculate the trimmed mean
stats.trim_mean(df['Murder.Rate'],0.1)

3.9450000000000003

In [21]:
# Calculate the median
df['Murder.Rate'].median()

4.0

In [22]:
print(df['Population'].mean())
print(stats.trim_mean(df['Population'],0.1))
print(df['Population'].median())

6162876.3
4783697.125
4436369.5

In [24]:
np.average(df['Murder.Rate'],weights=df['Population'])

4.445833981123393

In [31]:
weighted_median(df['Murder.Rate'],weights=df['Population'])

4.4