<p style="font-family: Arial; font-size:3.75vw;color:purple; font-style:bold"><br>
pandas Exercise Notebook
</p><br>

# Exercise Notebook Instructions

### 1. Important: Only modify the cells which instruct you to modify them - leave "do not modify" cells alone.  

The code which tests your responses assumes you have run the startup/read-only code exactly.

### 2. Work through the notebook in order.

Some of the steps depend on previous, so you'll want to move through the notebook in order.

### 3. It is okay to use libraries.

You may find some questions are fairly straightforward to answer using built-in library functions.  That's totally okay - part of the point of these exercises is to familiarize you with the commonly used functions.

### 4. Seek help if stuck

If you get stuck, don't worry!  You can either review the videos/notebooks from this week, ask in the course forums, or look to the solutions for the correct answer.  BUT, be careful about looking to the solutions too quickly.  Struggling to get the right answer is an important part of the learning process.

In [1]:
import pandas as pd
import numpy as np
import os.path

In this exercise notebook you will have the opportunity to load the MovieLens database and perform additional analysis.

First let's load the data into a Pandas Dataframe:

In [2]:
# DO NOT MODIFY

# set here the relative path to the movielens folder
MOVIELENS="./movielens/ml-20m"

movies = pd.read_csv(os.path.join(MOVIELENS, 'movies.csv'), sep=',')
ratings = pd.read_csv(os.path.join(MOVIELENS, 'ratings.csv'), sep=',')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

## Exercise 1: Find the Minimum Rating

Let's start by computing the minimum rating.

In the next cell, define the `min_rating` variable to be the minimum rating across all of the DataFrame:

In [5]:
min_rating = None
### BEGIN SOLUTION
min_rating = ratings['rating'].min()
### END SOLUTION

In [6]:
# DO NOT MODIFY

assert isinstance(min_rating, np.float64), "Try again, make sure you are taking the min of just 1 column"
assert abs(min_rating - 0.5) < .01, "Try again, the minimum should be 0.5"

## Exercise 2: Find the Mean Rating of a Movie

The movie **Toy Story** has `movieId` 1. Find out the mean rating for Toy Story. For this exercise you just need to use the `ratings` DataFrame:

In [7]:
toy_story_rating = None
### BEGIN SOLUTION
toy_story_rating = ratings[ratings['movieId'] == 1]['rating'].mean()
### END SOLUTION
toy_story_rating

3.921239561324077

In [8]:
assert abs(toy_story_rating - 3.92) < 0.01, "Try again, select only the rows where the movieId is equal to 1"

## Exercise 3: Find the Most Common Rating

Next, find which rating is the most common.

In [9]:
rating_counts = None
### BEGIN SOLUTION
rating_counts = ratings['rating'].mode()
### END SOLUTION
rating_counts[0]

4.0

In [10]:
# DO NOT MODIFY

assert rating_counts[0] == 4., "Print out rating_counts and try to understand what is wrong"

It is also interesting to inspect step by step what the statement above is doing:

    rating_counts.iloc[:1].index[0]

print all the intermediate stages of this expression, read the documentation of the functions used here.

## Exercise 4: Usage of the Index in pandas

In `numpy` the way to point to a specific entry in an array is by using its integer position. In `pandas` you can do the same with `iloc`, but you also have the option of defining a column in a DataFrame as an `index` and refer to rows using `index` labels instead of integer locations using `loc`.

For example in `rating_counts` defined above, the rating is the `index`, so we can reference a value either by its position or by its rating.

For example we can reference the 4th record either with `iloc` and its position or with `loc` and its label:

In [11]:
rating_counts.iloc[3]

IndexError: single positional indexer is out-of-bounds

In [ ]:
rating_counts.loc[3.5]

## Exercise 5: Set an Index for the Movies DataFrame

Movies have one column `movieId` that is a natural way of uniquely identifying each row, when that is the case, it is useful to turn that into an index.

In [12]:
movies = movies.set_index("movieId")

In [13]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

Ratings instead do not have a row identifier, both `userId` and `movieId` reference records in other dataframes, therefore there is no good candidate for an index so we can just leave the default integer indexing.

## Exercise 6: Year with Maximum Standard Deviation in the Rating

First assignment is to find which year has the maximum standard deviation in the rating, **not** the maximum value of the standard deviation, but the year when it occurs.
You can use the `idxmax` method, look at its documentation on the pandas website, https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html

First we want to convert the timestamp into a datetime object:

In [14]:
# DO NOT MODIFY

ratings['parsed_time'] = pd.to_datetime(ratings['timestamp'], unit='s')

We can then access to datetime related fields through `dt`, for example:

In [15]:
ratings.parsed_time.dt.month.head()

0    4
1    4
2    4
3    4
4    4
Name: parsed_time, dtype: int64

In [16]:
def find_year_with_max_std(ratings):
    """Function to find the year with the larger standard deviation in rating"""
    ### BEGIN SOLUTION
    ratings['year'] = ratings.parsed_time.dt.year
    ratings_std_by_year = ratings[['year','rating']].groupby('year').std()
    return(ratings_std_by_year['rating'].idxmax())
     ### END SOLUTION

In [17]:
assert find_year_with_max_std(ratings) == 1998, "Wrong year identified, try again!"

## Advanced Exercise 1: Identify Popular Movies

*In the rest of the notebook, we will introduce new concepts not covered in class, this will challenge you to read additional pandas documentation.*

First we would like only to consider movies that have a significant number of ratings. This task is complicated by the fact that movies and ratings are in 2 different DataFrames and we want to filter the `movies` DataFrame based on a statistics on the `ratings` DataFrame.

First let's compute the number of ratings per movie:

In [18]:
number_of_ratings = ratings.movieId.value_counts()

In [19]:
number_of_ratings.head()

296    67310
356    66172
318    63366
593    63299
480    59715
Name: movieId, dtype: int64

Now we want to filter this pandas Series object and keep only the rows where the count is larger or equal to 100.
We don't want to pollute our analysis with movies with a tiny number of reviews:

In [20]:
number_of_ratings_of_popular_movies = None
### BEGIN SOLUTION
number_of_ratings_of_popular_movies_filter = number_of_ratings >= 100
number_of_ratings_of_popular_movies = number_of_ratings[number_of_ratings_of_popular_movies_filter]
### END SOLUTION
len(number_of_ratings_of_popular_movies)

8546

In [21]:
assert len(number_of_ratings_of_popular_movies) == 8546, "Try again, check that movies with 100 ratings are accepted"

Finally we want to use the `reindex` function to change the index of movies, this will create a new DataFrame with a new index that contains the movieId of only the most popular movies.

The value of all the rows of `movies` that have the same movieId will be copied over to the new `popular_movies` dataset, the rest will be discarded.

In [22]:
all_popular_movies = movies.reindex(number_of_ratings_of_popular_movies.index)
all_popular_movies.head()

                                title                            genres
296               Pulp Fiction (1994)       Comedy|Crime|Drama|Thriller
356               Forrest Gump (1994)          Comedy|Drama|Romance|War
318  Shawshank Redemption, The (1994)                       Crime|Drama
593  Silence of the Lambs, The (1991)             Crime|Horror|Thriller
480              Jurassic Park (1993)  Action|Adventure|Sci-Fi|Thriller

In [23]:
len(all_popular_movies)

8546

## Advanced Exercise 2: Data Cleaning

Everytime we perform a reindexing operation, `pandas` will create a row for every value of the new index, even if it doesn't exist in the original data structure, and it will mark those data as missing with `NaN` (Not A Number).

Always check if reindexing generated invalid data:

In [24]:
all_popular_movies.isnull().sum()

title     0
genres    0
dtype: int64

In the next cell we want to drop the invalid data, look for a `pandas` function that performs that operation (it starts with "drop"!).

In [25]:
popular_movies = None
### BEGIN SOLUTION
popular_movies = all_popular_movies.dropna()
### END SOLUTION
len(popular_movies)

8546

In [26]:
assert len(popular_movies) == 7847, "Try again, check the documentation of the function you used"

AssertionError: Try again, check the documentation of the function you used

## Advanced Exercise 3: Filter by Genre

Let's implement a general function that filters movies by genres:

In [27]:
def filter_by_genre(input_movies, genre):
    """Return only movies of a specific genre"""
    ### BEGIN SOLUTION
    filtered_movies = input_movies['genres'].str.contains(genre)
    return(input_movies[filtered_movies])
    ### END SOLUTION

Then let's apply it to the `popular_movies` dataset to retain only the "Fantasy" movies:

In [28]:
fantasy_movies = filter_by_genre(popular_movies, "Fantasy")
fantasy_movies

,title,genres
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
367,"Mask, The (1994)",Action|Comedy|Crime|Fantasy
5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy
1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance
1265,Groundhog Day (1993),Comedy|Fantasy|Romance
4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
587,Ghost (1990),Comedy|Drama|Fantasy|Romance|Thriller
1073,Willy Wonka & the Chocolate Factory (1971),Children|Comedy|Fantasy|Musical
2997,Being John Malkovich (1999),Comedy|Drama|Fantasy
6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy
4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
919,"Wizard of Oz, The (1939)",Adventure|Children|Fantasy|Musical
3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
2987,Who Framed Roger Rabbit? (1988),Adventure|Animation|Children|Comedy|Crime|Fant...
2291,Edward Scissorhands (1990),Drama|Fantasy|Romance
2115,Indiana Jones and the Temple of Doom (1984),Action|Adventure|Fantasy
551,"Nightmare Before Christmas, The (1993)",Animation|Children|Fantasy|Musical
2174,Beetlejuice (1988),Comedy|Fantasy
2797,Big (1988),Comedy|Drama|Fantasy|Romance
788,"Nutty Professor, The (1996)",Comedy|Fantasy|Romance|Sci-Fi
410,Addams Family Values (1993),Children|Comedy|Fantasy
594,Snow White and the Seven Dwarfs (1937),Animation|Children|Drama|Fantasy|Musical
4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy
2617,"Mummy, The (1999)",Action|Adventure|Comedy|Fantasy|Horror|Thriller
353,"Crow, The (1994)",Action|Crime|Fantasy|Thriller
...,...,...
66240,Dead Like Me: Life After Death (2009),Comedy|Fantasy
70521,Lost in Austen (2008),Drama|Fantasy|Romance|Sci-Fi
114795,Dracula Untold (2014),Action|Drama|Fantasy
104074,Percy Jackson: Sea of Monsters (2013),Adventure|Children|Fantasy
7057,"Midsummer Night's Dream, A (1935)",Comedy|Fantasy|Romance
69818,Franklyn (2008),Drama|Fantasy|Romance|Thriller
27778,Ginger Snaps Back: The Beginning (2004),Fantasy|Horror
31555,Mac and Me (1988),Children|Fantasy|Sci-Fi
47384,Zoom (2006),Adventure|Comedy|Drama|Fantasy
105468,Cloudy with a Chance of Meatballs 2 (2013),Animation|Children|Comedy|Fantasy
26631,Alice (Neco z Alenky) (1988),Animation|Fantasy|Mystery
70282,Aliens in the Attic (2009),Adventure|Children|Fantasy|Sci-Fi
53140,"Librarian: Quest for the Spear, The (2004)",Action|Adventure|Comedy|Fantasy|Romance
72982,Alice (2009),Action|Adventure|Fantasy
69574,Phoebe in Wonderland (2008),Drama|Fantasy
37955,Innocence (2004),Drama|Fantasy|Mystery
70946,Troll 2 (1990),Fantasy|Horror
53138,"Librarian: Return to King Solomon's Mines, The...",Action|Adventure|Fantasy
6120,Q: The Winged Serpent (1982),Drama|Fantasy|Horror|Sci-Fi|Thriller
27155,"Batman/Superman Movie, The (1998)",Action|Adventure|Animation|Children|Fantasy|Sc...
83374,"Warrior's Way, The (2010)",Action|Fantasy|Western
3216,"Vampyros Lesbos (Vampiras, Las) (1971)",Fantasy|Horror|Thriller
103659,Justice League: The Flashpoint Paradox (2013),Action|Adventure|Animation|Fantasy|Sci-Fi
37495,Survive Style 5+ (2004),Fantasy|Mystery|Romance|Thriller
63239,Cinderella (1997),Children|Fantasy|Musical|Romance
53887,O Lucky Man! (1973),Comedy|Drama|Fantasy|Musical
101962,Wolf Children (Okami kodomo no ame to yuki) (2...,Animation|Fantasy
60522,"Machine Girl, The (Kataude mashin gâru) (2008)",Action|Comedy|Fantasy|Horror|Thriller
7847,"Peanut Butter Solution, The (1985)",Children|Fantasy
7561,Paperhouse (1988),Fantasy|Horror|Thriller

In [29]:
assert len(fantasy_movies) == 382, """Try again, Make sure you are filtering the popular movies"""

AssertionError: Try again, Make sure you are filtering the popular movies

## Advanced Exercise 4: Join Movies and Ratings

Let's create a single `DataFrame` that contains both titles and mean ratings of the popular fantasy movies.

Titles are only available in the `movies` `DataFrame`, while ratings in the `ratings` `DataFrame`, we would like to create a single DataFrame that includes Title.

Create the `mean_ratings` variable by computing the mean rating for each movie:

In [30]:
mean_ratings = None
### BEGIN SOLUTION
mean_ratings = ratings[['movieId','rating']].groupby('movieId').mean()
### END SOLUTION

In this case we don't even need to use a join operation, we can just create a new column in the `fantasy_movies` DataFrame. This will automatically match the index of `mean_ratings` with the index of `fantasy_movies` and attach to each movie its rating. Ratings for movies that are not in the `fantasy_movies` DataFrame are discarded.

The recommended way of creating columns in the recent versions of `pandas` is through the `assign` function, read its documentation!

In [31]:
fantasy_movies.assign?

Signature: fantasy_movies.assign(**kwargs)
Docstring:
Assign new columns to a DataFrame.

Returns a new object with all original columns in addition to new ones.
Existing columns that are re-assigned will be overwritten.

Parameters
----------
**kwargs : dict of {str: callable or Series}
    The column names are keywords. If the values are
    callable, they are computed on the DataFrame and
    assigned to the new columns. The callable must not
    change input DataFrame (though pandas doesn't check it).
    If the values are not callable, (e.g. a Series, scalar, or array),
    they are simply assigned.

Returns
-------
DataFrame
    A new DataFrame with the new columns in addition to
    all the existing columns.

Notes
-----
Assigning multiple columns within the same ``assign`` is possible.
For Python 3.6 and above, later items in '\*\*kwargs' may refer to
newly created or modified columns in 'df'; items are computed and
assigned into 'df' in order.  For Python 3.5 and below, the order of
keyword arguments is not specified, you cannot refer to newly created
or modified columns. All items are computed first, and then assigned
in alphabetical order.

.. versionchanged :: 0.23.0

   Keyword argument order is maintained for Python 3.6 and later.

Examples
--------
>>> df = pd.DataFrame({'temp_c': [17.0, 25.0]},
...                   index=['Portland', 'Berkeley'])
>>> df
          temp_c
Portland    17.0
Berkeley    25.0

Where the value is a callable, evaluated on `df`:

>>> df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32)
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

Alternatively, the same behavior can be achieved by directly
referencing an existing Series or sequence:

>>> df.assign(temp_f=df['temp_c'] * 9 / 5 + 32)
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

In Python 3.6+, you can create multiple columns within the same assign
where one of the columns depends on another one defined within the same
assign:

>>> df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32,
...           temp_k=lambda x: (x['temp_f'] +  459.67) * 5 / 9)
          temp_c  temp_f  temp_k
Portland    17.0    62.6  290.15
Berkeley    25.0    77.0  298.15
File:      ~/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/frame.py
Type:      method

In [32]:
fantasy_movies_with_ratings = fantasy_movies.assign(rating = mean_ratings)

In [33]:
fantasy_movies_with_ratings.head()

,title,genres,rating
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.921240
4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,4.137925
595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,3.673302
367,"Mask, The (1994)",Action|Comedy|Crime|Fantasy,3.174718
5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,4.107521

In [34]:
assert fantasy_movies_with_ratings.loc[7842].title.startswith("Dune"), "Try again, missing or wrong title"

In [35]:
assert abs(fantasy_movies_with_ratings.loc[7842].rating - 3.56) < 0.01 , "Try again, missing or wrong rating"

## Advanced Exercise 5: Find the Highest Rated Fantasy Movie

Again we need to find the index where a column is max, in this case rating:

In [38]:
index_of_max_rating = None
### BEGIN SOLUTION
index_of_max_rating = fantasy_movies_with_ratings['rating'].idxmax()
### END SOLUTION

In [41]:
highest_rated_fantasy_movie = fantasy_movies_with_ratings.loc[index_of_max_rating]
highest_rated_fantasy_movie

title     Spirited Away (Sen to Chihiro no kamikakushi) ...
genres                          Adventure|Animation|Fantasy
rating                                              4.20381
Name: 5618, dtype: object

In [40]:
assert highest_rated_fantasy_movie.title.startswith("Princess"), "Try again"

AssertionError: Try again

In [43]:
fantasy_movies_with_ratings[fantasy_movies_with_ratings['title'].str.contains('Princess')]

,title,genres,rating
1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,4.176732
3000,Princess Mononoke (Mononoke-hime) (1997),Action|Adventure|Animation|Drama|Fantasy,4.096299
72737,"Princess and the Frog, The (2009)",Animation|Children|Fantasy|Musical|Romance,3.586435